.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
    cursor: pointer; /* Добавляем курсор при любом наведении */
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

.pageNumber:hover { /* Добавляем стиль при наведении */
    background-color: #f0f0f0; /* Пример фона */
}
